@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: docktrin;
	src: url('../public/fonts/docktrin.ttf');
}
@font-face {
	font-family: lato-regular;
	src: url('../public/fonts/Lato/Lato-Regular.ttf');
}
@font-face {
	font-family: lato-italic;
	src: url('../public/fonts/Lato/Lato-Italic.ttf');
}

@font-face {
	font-family: lato-bold;
	src: url('../public/fonts/Lato/Lato-Bold.ttf');
}

@font-face {
	font-family: lato-light;
	src: url('../public/fonts/Lato/Lato-Light.ttf');
}
@font-face {
	font-family: lato-lightitalic;
	src: url('../public/fonts/Lato/Lato-LightItalic.ttf');
}
@font-face {
	font-family: lato-thin;
	src: url('../public/fonts/Lato/Lato-Thin.ttf');
}
@font-face {
	font-family: lato-black;
	src: url('../public/fonts/Lato/Lato-Black.ttf');
}
@font-face {
	font-family: lato-bolditalic;
	src: url('../public/fonts/Lato/Lato-BoldItalic.ttf');
}

@media screen and (max-width: 500px) {
}
